/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

.wrapper {
    margin: 10rem var(--default-margin) 0 var(--default-margin);
    display: flex;

    gap: 5.6rem;
    grid-template-columns: 1fr 1fr;

    align-items: center;
    justify-content: space-between;
}

.text {
    width: 50rem;

    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.text h1 {
    font-size: 6.2rem;
    font-weight: 800;
    line-height: 1.1;
}

.text p {
    width: 40rem;
}

.btn{
    align-self: flex-start;
}

.illustration {
    max-width: 58rem;
    height: 52.5rem;
}