.section {
    margin: 12rem var(--default-margin) 0  var(--default-margin);

    display: flex;
    justify-content: space-between;
}

.header {
    max-width: 50rem;
}

.header h2 {
    font-size: 4.4rem;
    font-weight: bold;
}

.header p {
    margin-top: 3.2rem;

    width: 40rem;
    
    font-size: 1.8rem;
    font-weight: bold;
    
    color: var(--color--grayish-blue);
}

.features{
    max-width: 58rem;

    display: flex;
    flex-direction: column;
    gap: 4.8rem;
}